jremotehtml-example/.settings/org.eclipse.jdt.core.prefs
jremotehtml-core/.settings/org.eclipse.m2e.core.prefs
.project
jremotehtml-example/.project
jremotehtml-core/.settings/org.eclipse.jdt.core.prefs
jremotehtml-core/.project
jremotehtml-core/.classpath
jremotehtml-example/.classpath
.settings/org.eclipse.m2e.core.prefs
jremotehtml-example/.settings/org.eclipse.m2e.core.prefs
jremotehtml-example/.settings
jremotehtml-core/.settings/
